<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" href="css/page.css">

        <div class="homeImg container-fluid">
            <div class="homeDiv center container">
                <h1 class="titleMain cenX">CODE</h1>

                <div class="row rowBackSS"></div>
                <h3 class="subTitle" id="here">JAVA | C | WEB DESIGN</h3>
            </div>

            <div class="homeSouth">
                <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow.png" width="30"/></button>
            </div>
        </div>

        <a class="anchor" id="top"></a>


        <div class="container-fluid backDark sec">
            <div class="container">
                <h3 class="subTitle white">MY GOAL</h3>
                 <p class="subText white extPad">
                     I have been developing software since 2017 with a deep understanding of core
                     computer science principles ranging from low-level algorithms and data structures
                      in C, to object-oriented design in Java, assembly
                      code, and obviously web design. All the work on this website are personal projects I
                      developed in my spare time, which you may use for free and view all the source
                      code on github! I have a very entrepreneurial spirit and enjoy solving meaningful
                       problems in a simplistic and lightweight approach.</p>
            </div>
        </div>

        <div class="container-fluid sec">

            <h3 class="subTitle">TECHNICAL SKILLS</h3>

            <div class="container">
                <h3 class="subTitle">C</h3>
                <p class="subP">Low-level design excites me because you become very close to the hardware
                     and can exploit significant performance improvements. I am very interested in
                     constructing libraries and data structures at a low-level, as well as transforming
                      low level constructs from assembly to C and implementing high level constructs from
                       C to Java and so on. I enjoy the concept of manual memory management and use it to
                        my advantage, bringing significant performance improvements in the design of algorithms. </p>
            </div>
            
            <div class="container">
                <h3 class="subTitle">HTML, CSS, JAVASCRIPT, BOOTSTRAP</h3>
                <p class="subP">I decided to build this website from scratch (just a text editor), so that I can gain a
                    better understanding of the technology. I will soon be implementing some of my programs on the web,
                    to make it easily accessible to a wider audience. Front end is not my strongest aspect, so this website
                    allowed me to further experiment outside of my comfort zone.</p>
            </div>
        </div>

        
        <%- include(rootPath + 'partials/footer'); %>
        <script type="text/javascript" src="scripts/shift.js"></script>
        <script type="text/javascript" src="/scripts/fetchDesc.js"></script>
    </body>
</html>
